<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Game Sample</title>
</head>

<body>
<div>
	<%= link_to "Voltar", student_path(@student), id: "Voltar" %>
</div>
<div class="container">
    <!-- Phaser Game -->

    <div id="game-container" class="center">
    </div>
</div>

<!-- INCLUDES DAS LIBS -->

<script type="text/javascript" src="/javascripts/lib/phaser.js"></script>

<!-- INCLUDES DO JOGO -->


<script type="text/javascript" src="/javascripts/game.js.erb"></script>

</body>

<script type="text/javascript">
   var convert_points_path = "<%= convert_points_path %>";
</script>

</html>
