// Place all the styles related to the Student controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#emojiGenerico{
	width: 100%;
	height: 100%;
}
.cry{
	background: url("cry.png") no-repeat center;
}
.sad{
	background: url("sad.png") no-repeat center;
}
.dead{
	background: url("dead.png") no-repeat center;
}
.embarrass{
	background: url("embarrass.png") no-repeat center;
}
.happy{
	background: url("happy.png") no-repeat center;
}
.joy{
	background: url("joy.png") no-repeat center;
}
.shy{
	background: url("shy.png") no-repeat center;
}
.sleepy{
	background: url("sleepy.png") no-repeat center;
}
.surprise{
	background: url("surprise.png") no-repeat center;
}
.wink{
	background: url("wink.png") no-repeat center;
}
.sick{
	background: url("sick.png") no-repeat center;
}